*{
    color:rgba(0,0,0,0.65);      
    font-family:PingFang-SC-Medium;
}
.top_box{
    height: 44px;
    background: #0A88EC;
    width: 100%;
}
.top_box .index-nav1 {
    height:100%;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}
.top_box ul.index-nav1 li {
    display: inline-block;
    padding: 12px 0 9px 0;
    height: 14px;
    line-height: 14px;
    color: rgba(255,255,255,0.85)!important;
    font-size: 11px;
}
.top_box ul.index-nav1 li a span{
display: inline-block;
    color: rgba(255,255,255,0.85);
    margin:0 12px;
}
 .box{ /*.top_box ul.index-nav1 li:nth-of-type(1) a span,*/
    padding-left: 4%;
}
/* 下划线开始 */
.top_box > ul li.Active ,.top_box > ul li.active{
    font-size: 13px;
    position: relative;
}
.top_box > ul li.Active:after {
    content: '';
    position: absolute;
    left: 27%;
    top: auto;
    bottom: 1px;
    right: auto;
    height: 2px;
    width: 45%;
    background-color: #fff;
    border-radius:3px;
}
/* .top_box > ul li.active:after {
    content: '';
    position: absolute;
    top: auto;
    bottom: 1px;
    right: auto;
    height: 2px;
    left:27%;
    width: 40%;
    background-color: #fff;
    border-radius:3px;
} */
.top_box > ul::-webkit-scrollbar{  /*  //去除滚动条 */
	width: 0;
	height: 0;
	display: none;
}
/* 下划线end */
 .box1 .ptitle,.box2 .ptitle,.box3 .ptitle{
    margin: 20px 0 10px 0;
    height:20px;
    font-size:16px;
    font-weight:700;
    color:rgba(0,0,0,0.65);
    line-height:20px;
} 
.box2 {
    height: 159px;
}
.box2 .ptitle,.box3 .ptitle{
    /* color:rgba(0,0,0,0.85); */
    padding-top:0;
}
.box2 ul li{
    width: 30%;
    height: 109px;
    float: left;
    margin-right: 2.5%;
    border-radius:4px;
    box-shadow:0px 2px 4px 5px rgba(29, 75, 224, 0.1);
}
.box2 ul li img{
    width: 36px;
    height: 32px;
    padding:0 0 12.8% 21.5%;
}
.box2 ul li span{
    font-size: 20px;
    font-weight:500;
    color:rgba(0,0,0,0.85);
    line-height:24px;
    padding-left: 19%;
}
.box2 ul li p{
    font-size:16px;
    font-weight:500;
    color:rgba(0,0,0,0.85);
    line-height:20px;
    padding-left: 19%;
}
.box2 .dqsj{
    height:16px;
    font-size:13px;
    font-family:PingFang-SC-Regular;
    font-weight:400;
    color:rgba(0,0,0,0.65);
    line-height:16px;
    padding:0.7% 0 0 19%;
}
/* 待审核跳转,编辑房间 */
.box2 .ptitle .dsh_a,.box1 .ptitle .dsh_a{
    line-height:16px;
    height: 16px;
    font-size: 13px;
}
.box3 ul li{
    margin-right: 4%;
}
.box3 .list_each {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height:58px;
    padding:2.7% 0 0 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /*Firefox3.5+*/
	-webkit-box-sizing: border-box; /*Safari3.2+*/
	-o-box-sizing: border-box; /*Opera9.6*/
	-ms-box-sizing: border-box; /*IE8*/
	box-sizing: border-box;
    border-bottom: 1px solid #0000001F;

}
/* .box3 .list_each .list_qb_l{
    width: 10.6%;
} */
.box3 .list_each .list_qb_l1,.box3 .list_each .list_qb_l2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(10, 136, 236, 1);
}
.box3 .list_each .list_qb_l2{
    background:rgba(255, 55, 88, 1);
}
.list_each .list_qb_l2 span,.list_each .list_qb_l1 span{
    height:16px;
    font-size:12px;
    font-weight:500;
    color:rgba(255,255,255,1);
    line-height:40px;
    display: block;
    text-align: center;
}
.box3 .list_each .list_qb_r{
    width: 85.4%;
}
.list_each .list_qb_r p{
    height:16px;
    font-size:14px;
    font-family:PingFang-SC-Regular;
    color:rgba(0,0,0,0.85);
    line-height:16px; 
}
.list_each .list_qb_r span{
    height:14px;
    font-size:12px;
    font-family:PingFang-SC-Regular;
    color:rgba(0,0,0,0.65);
    line-height:14px;
    padding-top: 8px;
}
.list_qb_r_div{
    float:right;
}
/* 待审核页面start */
.box_audit .ptitle{ 
    height:24px;
    font-size:20px;
    color:rgba(0,0,0,0.75);
    line-height:24px;
}
.box_audit .box1 ul li{
    height:16px;
    font-size:13px;
    font-family:PingFang-SC-Regular;
    /* color:rgba(0,0,0,0.65); */
    line-height:16px;
    padding-bottom: 4px;
}
.box_audit .box1 ul li:last-of-type{
    padding-bottom: 18px;
}
.box_audit .box2 ul li {
    margin-bottom: 8px;
}
/* 待审核页面end */
/* 待审核处理start */
/* .fixebox_ul{
    width: 100%;
    height: 49px;
    position: fixed;
    bottom: 0px;
}
.fixebox_ul li{
    width: 50%;
    height: 49px;
    text-align: center;
    line-height: 49px;
    float: left;
    box-shadow:0px 2px 4px 5px rgba(29, 75, 224, 0.1);
}
.fixebox_ul li:nth-of-type(1){
    background: #fff;
    color: #1A8CFF;
}
.fixebox_ul li:nth-of-type(2){
    background:linear-gradient(180deg,rgba(24,189,247,1) 0%,rgba(10,136,236,1) 100%);
    color: #fff;
} */
/* 待审核处理end */
